body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.password-container {
    background-color: #282828;
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.password-header .logo {
    width: 100px;
}

.password-header h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

.password-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.password-form label {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.password-form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #b3b3b3;
    background-color: #333333;
    color: white;
    font-size: 14px;
}

.change-password-button {
    background-color: #1DB954;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.change-password-button:hover {
    background-color: #1ed760;
}

.back-link p {
    margin-top: 20px;
    font-size: 14px;
    color: #b3b3b3;
}

.back-link a {
    color: #1DB954;
    text-decoration: none;
}

.back-link a:hover {
    text-decoration: underline;
}
